@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

$font-family: 'Nunito', sans-serif;
$font-size: 16px;
$font-size1: 1.3rem;
$font-size2: 1.1rem;
$font-size3: .9rem;
$font-weight1: 400;
$font-weight2: 600;
$font-weight3: 700;
$font-weight4: 800;
$primary-color:  hsl(0, 0%, 98%);
$secondary-color: hsl(0, 0%, 100%); 
$input-color:  hsl(0, 2%, 57%);   
$header-color: hsl(200, 15%, 8%);   
$hover-color:  rgb(163, 155, 155);   
$border-radius: 5px;

$primary-color1: hsl(207, 26%, 17%); 
$secondary-color1: hsl(209, 23%, 22%);
$input-color1:  hsl(0, 0%, 90%);
$header-color1: white;
$hover-color1:  rgb(163, 155, 155); 


    