@import './../../styles/mixinflex';
@import './../../styles/variables';

.filter {
    & .selectInput {
        & .form-element {
            & #selectInputField {
                width:50%;
                color: $header-color;
                background-color: $secondary-color;
                font-size: $font-size3;
                padding:15px 0 15px 8px;
                border: none;
                border-radius: $border-radius;
                box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
            }
        }    
    }
   
    & .cardContainer {
        margin: 30px 0;
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;
    }
}

#light .selectInputField {
    background-color: $secondary-color;
    color: $input-color;
}
#dark .selectInputField {
    background-color: $secondary-color1;
    color: $input-color1;
}