@import './../../styles/mixinflex';
@import './../../styles//variables';

.tableSection {
    margin: 30px auto;
    font-family: $font-family;

    & .table {
        border-collapse: collapse;
        background-color: $secondary-color;
        color: $header-color;
        width: 100%;

        & .tableCell, & .tableHeader {
            border: 1px solid $primary-color1;
            text-align: left;
            padding: 8px 12px;
        }
        & .tableRow {
            & #tableColumn {
                width: 120px;
                height: 100px;
                & .rowFlagImage {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .tableCell:nth-child(2) {
                cursor: pointer;
                padding-bottom: 2px;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

#light .table {
    background-color: $secondary-color;
    color: $header-color;
}
#dark .table {
    background-color: $secondary-color1;
    color: $header-color1;
}

#light .tableHeader #light .tableCell {
    border: 1px solid $primary-color1;
}
#dark .tableHeader, #dark .tableCell {
    border: 1px solid $primary-color;
}