@import './../../styles/mixinflex';
@import './../../styles//variables';

.tableSection {
    margin: 50px auto;

    & .table {
        border-collapse: collapse;
        width: 100%;

        & td, & th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px 12px;
        }
    }
}